:root {
  --gold: #c9a24d;
  --beige: #f5f1ea;
  --dark: #222;
  --grey: #666;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff;
  color: var(--dark);
}

.page-title {
  text-align: center;
  padding: 40px 20px;
  background: var(--beige);
}

.page-title h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

.cart-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

.cart-items {
  border: 1px solid #eee;
  padding: 20px;
}

.cart-item {
  display: grid;
  grid-template-columns: 100px 1fr 120px 40px;
  gap: 20px;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.cart-item img {
  width: 100%;
}

.cart-item h4 {
  margin-bottom: 5px;
}

.cart-item p {
  font-size: 14px;
  color: var(--grey);
  margin-bottom: 5px;
}

.cart-meta {
  display: flex;
  gap: 12px;
  /* adjust gap as needed */
  font-size: 14px;
  color: #666;
}


.qty {
  display: flex;
  align-items: center;
  gap: 6px;
}

.qty button {
  width: 26px;
  height: 26px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.remove {
  color: red;
  cursor: pointer;
}

.summary {
  border: 1px solid #eee;
  padding: 20px;
}

.summary h3 {
  margin-bottom: 15px;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary .total {
  font-weight: bold;
  font-size: 18px;
}

/* BTN */
.checkout {
  background: #7B1113;
  width: 100%;
  border-radius: 12px;
  padding: 12px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.whatsapp {
  background: none;
  width: 100%;
  border-radius: 12px;
  padding: 12px;
  border: none;
  border: 1px solid #25D366;
  color: #25D366;
  cursor: pointer;
  margin-top: 10px;
}

@media(max-width:900px) {
  .cart-container {
    grid-template-columns: 1fr;
  }
}